.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.alert-glass {
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.alert-glass-success {
  border: 2px solid rgba(40, 167, 69, 0.2);
  background-color: rgba(40, 167, 69, 0.2);
  color: #16832f;
}

.pre-line {
  white-space: pre-line;
}

.alert-glass-danger {
  border: 2px solid rgba(220, 53, 69, 0.2);
  background-color: rgba(220, 53, 69, 0.2);
  color: #9e1723;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --panel-bg-color: #ffffff;
  --special-color: rgb(3, 128, 147);
  --special-background-color: rgba(3, 128, 147, 0.4);
  --tag-color: #656565;
  --tag-bg-color: #eff0f5;
  --contrast-color : rgb(161, 161, 161);
}

[data-theme="dark"] {
  --bg-color: #18191a;
  --text-color: #e4e6eb;
  --panel-bg-color: #242526;
  --tag-color: #a9a9a9;
  --tag-bg-color: #202123;
  --contrast-color : rgb(102, 102, 102);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.model-tag{
  background-color: var(--tag-bg-color);
  color: var(--tag-color);
  transition: background-color 0.3s, color 0.3s;
}

.model-special-tag{
  background-color: var(--special-background-color);
  color: var(--special-color);
  transition: background-color 0.3s, color 0.3s;
}

.general-btn{
  width: auto;
  background-color: var(--special-background-color);
  color: var(--special-color);
}

.general-input{
  background-color: transparent;
  border: solid;
  border-radius: 25px;
  border-color: var(--contrast-color);
  border-width: 2px;
  margin: 5px 0px;
  padding: 5px 10px;
  color: var(--tag-color);
}

.general-link{
  color: var(--special-color);
  text-decoration: none;
  cursor: pointer;
}

.input-tag{
  border: 0;
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--tag-color);
  width: 15ch;
}
.create-tag{
  border: 0;
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--tag-color);
}
.input-file{
  width: 100;
  height: 100;
  color: var(--special-color);
  background-color: var(--special-background-color);
}
body.active-modal {
  overflow-y: hidden;
}

.modal1, .overlay1 {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 20;
}

.overlay1 {
  background: rgba(49,49,49,0.8);
}
.modal-content1 {
  position: absolute;
  padding: 14px 0px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  z-index: 20;
}
.chevronButton{
  border: 0px;
  background-color: transparent;
}

.modal2, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--tag-bg-color);
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 10;
}
